
.section-12 {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: -150px;
  }
  
  .section-12 h2 {
    font-weight: 600
  }
  
  .section-13 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .section-13>ymaps {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
  }
  
  .section-13>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .section-13 .contact-wrap {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 30px;
    z-index: 30;
    position: relative;
    width: 100%;
    max-width: 550px;
  }
  
  .section-13 .contact-wrap .header__info {
    max-width: 350px;
  }
  
  .section-13 .contact-wrap .contact-item:first-child {
    padding-top: 0;
  }
  
  .section-13 .contact-wrap .contact-item {
    padding: 25px 0;
  }
  
  .section-13 hr {
    border: 0;
    height: 1px;
    background: #505055;
    opacity: .25;
  }
  
  .section-13 .contact-wrap .contact-title p {
    font-weight: 400;
    font-size: 20px;
    max-width: 25rem;
    color: #333333;
  }
  
  .section-13 .contact-wrap .contact-title p span {
    color: #758eff;
  }
  
  .section-13 .contact-wrap .header__info .on-connect {
    font-size: 13px;
    opacity: .6;
  }
  
  .section-13 .contact-wrap .header__info .phone-and-social .phone-link {
    font-size: 27px;
  }
  
  .section-13 .contact-wrap .call-me-btn {
    font-size: 15px;
    margin-top: 2px;
    border-bottom: 1px dashed;
    padding-bottom: 2px;
    text-decoration: none;
  }
  
  .section-13 .contact-wrap .header__info .phone-and-social .social-wrap .social-link {
    width: 37px;
    height: 37px;
  }
  
  .section-13 .contact-wrap .contact-email {
    font-weight: bold;
    font-size: 27px;
    line-height: 1.1;
    color: #333333;
  }
  
  .section-13 .contact-wrap .contact-email a:hover {
    text-decoration: none;
    color: rgba(112, 156, 243, 1);
  }
  
  .section-13 .contact-wrap .contact-rezhim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  
  .section-13 .contact-wrap .contact-rezhim img {
    width: 34px;
    height: 34px;
  }
  
  .section-13 .contact-wrap .contact-rezhim .rezhim-content {
    margin-left: 12px;
  }
  
  .section-13 .contact-wrap .contact-rezhim .rezhim-content b {
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    color: #000;
    opacity: .6;
    color: #6F6F6F;
    margin-top: 0px;
    display: block;
  }
  
  .section-13 .contact-wrap .contact-item:last-child {
    padding-bottom: 0
  }
  
  .section-13 .contact-wrap .contact-rezhim .rezhim-content p {
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    color: #505055;
  }
  
  .section-13 .contact-wrap button {
    margin-top: 14px;
  }
  
  footer {
    background: linear-gradient(#d9eaf7, rgb(255, 255, 255));
    padding-top: 50px;
    padding-bottom: 70px;
  }
  
  
  footer .warning {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.3;
    color: #181818;
    opacity: 0.8;
    max-width: 930px;
  }
  
  footer .footer-grid {
    display: grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .footer__social {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.8711 15C17.8711 16.5857 16.5857 17.8711 15 17.8711C13.4143 17.8711 12.1289 16.5857 12.1289 15C12.1289 13.4143 13.4143 12.1289 15 12.1289C16.5857 12.1289 17.8711 13.4143 17.8711 15Z' fill='white'/%3e%3cpath d='M21.7144 9.9204C21.5764 9.5464 21.3562 9.20789 21.0701 8.93002C20.7923 8.64392 20.454 8.42374 20.0797 8.28572C19.7762 8.16785 19.3203 8.02754 18.4805 7.98932C17.5721 7.94789 17.2997 7.93896 14.9999 7.93896C12.6999 7.93896 12.4275 7.94766 11.5193 7.98909C10.6796 8.02754 10.2234 8.16785 9.92014 8.28572C9.54591 8.42374 9.2074 8.64392 8.92976 8.93002C8.64366 9.20789 8.42348 9.54617 8.28523 9.9204C8.16736 10.2239 8.02705 10.6801 7.98883 11.5198C7.9474 12.428 7.93848 12.7004 7.93848 15.0004C7.93848 17.3002 7.9474 17.5726 7.98883 18.481C8.02705 19.3208 8.16736 19.7767 8.28523 20.0802C8.42348 20.4545 8.64343 20.7927 8.92953 21.0706C9.2074 21.3567 9.54568 21.5769 9.91991 21.7149C10.2234 21.833 10.6796 21.9733 11.5193 22.0115C12.4275 22.053 12.6997 22.0617 14.9997 22.0617C17.3 22.0617 17.5723 22.053 18.4803 22.0115C19.3201 21.9733 19.7762 21.833 20.0797 21.7149C20.8309 21.4251 21.4247 20.8314 21.7144 20.0802C21.8323 19.7767 21.9726 19.3208 22.011 18.481C22.0525 17.5726 22.0612 17.3002 22.0612 15.0004C22.0612 12.7004 22.0525 12.428 22.011 11.5198C21.9728 10.6801 21.8325 10.2239 21.7144 9.9204V9.9204ZM14.9999 19.4231C12.5571 19.4231 10.5768 17.4431 10.5768 15.0002C10.5768 12.5573 12.5571 10.5773 14.9999 10.5773C17.4426 10.5773 19.4229 12.5573 19.4229 15.0002C19.4229 17.4431 17.4426 19.4231 14.9999 19.4231ZM19.5977 11.4361C19.0269 11.4361 18.5641 10.9733 18.5641 10.4024C18.5641 9.83159 19.0269 9.36879 19.5977 9.36879C20.1685 9.36879 20.6313 9.83159 20.6313 10.4024C20.6311 10.9733 20.1685 11.4361 19.5977 11.4361Z' fill='white'/%3e%3cpath d='M15 0C6.717 0 0 6.717 0 15C0 23.283 6.717 30 15 30C23.283 30 30 23.283 30 15C30 6.717 23.283 0 15 0ZM23.5613 18.5511C23.5197 19.468 23.3739 20.094 23.161 20.6419C22.7135 21.7989 21.7989 22.7135 20.6419 23.161C20.0942 23.3739 19.468 23.5194 18.5513 23.5613C17.6328 23.6032 17.3394 23.6133 15.0002 23.6133C12.6608 23.6133 12.3676 23.6032 11.4489 23.5613C10.5322 23.5194 9.90601 23.3739 9.35829 23.161C8.78334 22.9447 8.26286 22.6057 7.83257 22.1674C7.39449 21.7374 7.05551 21.2167 6.83922 20.6419C6.62636 20.0942 6.48056 19.468 6.4389 18.5513C6.39656 17.6326 6.38672 17.3392 6.38672 15C6.38672 12.6608 6.39656 12.3674 6.43867 11.4489C6.48033 10.532 6.6259 9.90601 6.83876 9.35806C7.05505 8.78334 7.39426 8.26263 7.83257 7.83257C8.26263 7.39426 8.78334 7.05528 9.35806 6.83899C9.90601 6.62613 10.532 6.48056 11.4489 6.43867C12.3674 6.39679 12.6608 6.38672 15 6.38672C17.3392 6.38672 17.6326 6.39679 18.5511 6.4389C19.468 6.48056 20.094 6.62613 20.6419 6.83876C21.2167 7.05505 21.7374 7.39426 22.1677 7.83257C22.6057 8.26286 22.9449 8.78334 23.161 9.35806C23.3741 9.90601 23.5197 10.532 23.5616 11.4489C23.6034 12.3674 23.6133 12.6608 23.6133 15C23.6133 17.3392 23.6034 17.6326 23.5613 18.5511V18.5511Z' fill='white'/%3e%3c/svg%3e ");
    display: block;
    height: 2rem;
    width: 2rem;
    background-size: contain;
    margin: .25rem !important;
  
  }
  
  .footer__social.--whatsapp {
    background-image: url("../../assets/svg/telegram-svgrepo-com.svg");
  }
  
  footer .footer-grid>div:nth-child(1) {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  
  footer .footer-grid>div:nth-child(2) {
    -ms-grid-column-align: center;
    justify-self: center;
    display: flex;
  }
  
  footer .footer-grid>a:nth-child(3) {
    -ms-grid-column-align: end;
    justify-self: end;
  }
  
  footer .footer-grid>a:nth-child(4) img {
    /* opacity: 1; */
    max-width: 10rem;
  }
  
  footer .footer-grid>div:nth-child(1) img {
    width: 22rem
  }
  
  footer .footer-grid a {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    color: #171717;
    opacity: 0.9;
    margin: 5px 0;
  }
  
  footer .footer-grid a:hover {
    opacity: 10;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: '';
    background-image: url('../../assets/img/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 99%;
    height: 99%;
  }
  
  .swiper-button-prev:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .swiper-button-prev {
    left: -25px;
    border-radius: 100%;
    transition: all 0.3s;
  }
  
  .swiper-button-next {
    right: -25px;
    border-radius: 100%;
    transition: all 0.3s;
  }
  
  /* .swiper-button-next:hover,
  .swiper-button-prev:hover {
    box-shadow: 0 0 30px #61482a;
  } */
  
  .swiper-3 .swiper-button-next,
  .swiper-3 .swiper-button-prev {
    top: 30%;
  }
  
  .swiper__inner {
    overflow: hidden;
  }
  .unClickable p {
    font-size: 12px;
  }

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 900px) {

  }

  @media only screen and (max-width: 768px) {

  }

  @media only screen and (max-width: 574px) {
    .container .contact-wrap .contact-info {
      transform: scale(0.90)
    }

    .contact-info .contact-email a {
      font-size: 0.7em;
    }

    .section-13 .contact-wrap .header__info .phone-and-social .phone-link {
      font-size: 22px;
    }

    footer .footer-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  } 