* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-weight: 400;
    overflow-x: hidden;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
  
  html.overflow-locked {
    overflow-y: hidden;
  }
  
  body {
    overflow-x: hidden;
    background: #FAFAFA;
  }
  
  @media (max-width: 1599px) {
  
    html,
    body {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
  
    html,
    body {
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
  
    html,
    body {
      font-size: 13.5px;
    }
  }
  
  @media (max-width: 420px) {
  
    html,
    body {
      font-size: 13px;
    }
  }
  
  @media (max-width: 370px) {
  
    html,
    body {
      font-size: 12px;
    }
  }
  
  body {
    position: relative;
    display: block;
  }
  
  img {
    max-width: 100%;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a,
  span,
  i,
  b,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
  }
  
  section,
  header,
  main,
  footer {
    position: relative;
  }
  
  input:focus {
    outline: 0;
  }
  
  button {
    border: 0;
    outline: 0;
    cursor: pointer;
  }